H1{
    background-color:rgb(217, 224, 221);
    font-size: 40px;
    font-family: 'Gluten', cursive;
    color:black;
    text-align: center;
}
p{
    color:black;
    font-size: 20px;
    margin: 30px;
    text-align: center;
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

.titulo_nav{
    position: relative;
    width: 940px;
    background-color:black;

}

.img{
    max-width: 200px;
    width: 200px;
    height: 200px;
    margin: 100px 1000px 0 0;

}
.cab{
    margin: 0 0 0 140px;

}

.cor1{
    font-size: 3px;
    display: flex;
    background-color:rgb(255, 16, 16);
}
.cor2{
    font-size: 3px;
    display: flex;
    background-color:rgb(252, 132, 52);
}
.cor3{
    font-size: 3px;
    display: flex;
    background-color:rgb(255, 252, 62);
}
.cor4{
    font-size: 3px;
    display: flex;
    background-color:rgb(10, 126, 6);
}
.cor5{
    font-size: 3px;
    display: flex;
    background-color:rgb(14, 35, 150);
}
.cor6{
    font-size: 3px;
    display: flex;
    background-color:rgb(118, 10, 128);
}

.rodape {
    background-color: black;
    color: white;
    height: 30 px;
    text-align: center;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
}
.conteiner-model{
    border: solid rgb(255, 248, 182);
    background-color: rgb(255, 253, 253);
    height: 1250px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.img-texto img{
    display: flex;
    margin: auto;
    
}
.ima_if{
    display: flex;
    margin: auto;
}

.img-texto p{
    text-align: center;
    padding: 20px ;
    font-size: 18px;
    font-family: 'Gluten', cursive;

}
.card-pers{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(238, 239, 241);
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}  

@media screen and (max-width: 768px) {

    .titulo_nav{
        width: auto;
    }
    h1{

        text-align: center;
    }
    .menu{
        
        text-align: center;
    }
    .titulo_nav{
        text-align:center;
    }
    .link_menu{
        display: flexbox;
    }
}
body {
    background-color: rgba(255, 242, 242, 0.041);
    font-family: 'Gluten', cursive;
    display: inline-table;
 
}